body,
html {
  font-family: 'Kanit', sans-serif;
  font-weight: 400;
  font-size: 1rem;
}

h3,
p {
  margin: 0;
}

.App {
  background: black;
}

.button-navigation {
  display: flex;
  justify-content: center;
  flex-flow: row nowrap;
  padding-bottom: 2rem;
}
