.App {
  background:linear-gradient(45deg, #e42c5f 0%, #59146c 100%)
}

.button-navigation {
  display: flex;
  justify-content: space-between;
  flex-flow: row nowrap;
  padding: 3rem;
}

.button {
  height: 2.5rem;
  width: 6rem;
  background-color: white;
  color: #e42c5f;
  border: none;
  border-radius: 2rem;
}
