.member-card {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-flow: column;
  box-sizing: border-box;
  width: 15rem;
  background-color: #333333;
  color: white;
  border-radius: 2rem;
  padding: 2rem 1rem;

  .member-avatar {
    width: 75%;
    border-radius: 50%;
  }

  .member-link {
    color: #58a6ff;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  .member-name {
    text-align: center;
  }
}

@media (min-width: 768px) {
  .member-card {
    width: 19rem;
  }
}

@media (min-width: 890px) {
  .member-card {
    width: 26rem;
  }
}
